	body {
	width: 62.5%;
	height:50%;
	}

	h1{
	font-family: 'Raleway';
	font-size:3em; 
	font-weight:100;
	}

	h2{
	font-family: 'Raleway';
	font-size:1.8em;
	font-weight:100;
	}
	
	h3{
	font-family: 'Raleway';
	font-size:1em;
	font-weight:1000;
	}	
	
	p {
	font-size:.9em; 
	line-height:140%;
	}
	
/* ---------------------INDEX STYLES -----------------------*/
	#

	#fullbody {
	height: 650px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
	#body_bottom {
	position:absolute
	bottom:0
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	#search input[type="text"] {
    border: 1px solid #d1d1d1;
    font: bold 40px Raleway;
    color: #bebebe;
    width: 350px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

	#search input[type="text"]:focus {
    width: 350px;
    }
	
	.button {
	display: inline-block;
	border: 1px solid #d1d1d1;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #bebebe;
	font: bold 40px Raleway;
	padding: 0.1em 3.5em .15em;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	}
	
	.button:hover {
	text-decoration: none;
	}

	.button:active {
	position: relative;
	top: 1px;
	}
/* ---------------------PAGE2 STYLES -----------------------*/

	#page2_body{
	width: 750px;
	height: 1050px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
	}
	
	#top {
	width: 750px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	

	
	#middle {
	width: 750px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: center;
	}
	
	#middle_left {
	width: 375px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	}
	
	#middle_right {
	width: 375px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	float: right;
	}
	
	#bottom {
	width: 750px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}