{% extends "base.html" %}
{% block content %}
<div style="width:600px;margin-left:auto;margin-right:auto">
	<h1 style="text-align:center"> Welcome to Dinner Time!</h1>
	<div class="horizontal_spacer"></div>
	<div class="horizontal_spacer"></div>

	<p> This is a project by an up-and-coming entrepreneur in the Berkeley area, Jeff Huang. 
	I am a student at University of California, Berkeley, and hope to work at start-up organizations
	in San Francisco.
	<br><br>
	I never expected how much I had to learn to execute such a simple project! To the common eye, 
	this project might not seem like much, but I consider it to be an accomplishment that has gotten
	my foot wet into bigger and much better web applications. 
	<br><br>
	This project was programmed in Flask, a web framework for Python developers. I also used the
	Yelp API for this particular project in order to recommend restaurants. Finally, I used a lot of
	JQuery code on the website in order to produce the smooth transitions between web pages. 
	<br><br>
	Anyway, I hope this project affected someone somewhere! Feel free to drop me an email if you thought
	it was useful, I don't bite! Email: jeffdh5@gmail.com.
	
</div>
{% endblock %}