<!DOCTYPE html>
<html>
	<head>
	  	<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
  		<script type="text/javascript" src="js/custom.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/static.css" type="text/css" /> 

		<title>FOOD!</title>
	</head>
	<body>
		<div id=fullbody>
			<h1>Where Ya From?</h1>
			<div id=body_bottom>
				<form action="/" method="post" id="search">
  					<input name="location" type="text" size="40" placeholder="City, BIETCH?" />
					<h1>Whatchu Lookin' For?</h1>
  					<input name="term" type="text" size="40" placeholder="WHAT TYPE?!" />
  					<br><br><br><br>
  					<input type="submit" class="button" value="LEGGO!"></a>
  				</form>
  			{% if error %}
  				<h1> {{error}} </h1>				
  			{% endif %}
  			</div>
		</div>
	</body>
</html>