{% extends "base.html" %}
{% block content %}
		<div style="text-align:center">
			<h1>Where Ya From?</h1>
				<form action="/" method="post" id="search">
  					<input name="location" type="text" size="40" placeholder="Wuuuuttttt City?"/><br>
				<div class="horizontal_spacer"></div>
				<div class="horizontal_spacer"></div>
					<h1>Whatchu Lookin' For?</h1>
  					<input name="term" type="text" size="40" placeholder="WHAT TYPE?!"/><br>
				<div class="horizontal_spacer"></div>
				<div class="horizontal_spacer"></div>
  					<input type="submit" class="transition button" value="LEGGO!"></a>
  				</form>
  			{% if error %}
  				<br><font color="red"><h1> {{error}} </h1></font>			
  			{% endif %}
		</div>
{% endblock %}
