<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/static.css" type="text/css" /> 
		<title>Eat Here!</title> 
    	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    	<style type="text/css">
      		#map_canvas { 
      		width: 365px;
      		height: 250px;
      		}
    	</style>
	    <script type="text/javascript"
    	  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAKQl6A_LiqvYN_f78-oqfaRURGuvhOj0&sensor=true">
    	</script>
    	<script type="text/javascript">
      		function initialize() {
        		var mapOptions = {
          		center: new google.maps.LatLng({{latitude }},{{ longitude }}),
          		zoom: 15,
          		mapTypeId: google.maps.MapTypeId.ROADMAP
        		};
        		var map = new google.maps.Map(document.getElementById("map_canvas"),
            	mapOptions);
      			}
   		</script>
    	</head>
    <body onload="initialize()">	
		<div id="page2_body">
			<div id="top"> 
				<h1> HOMIE, YOU WANNA TRY...<br><b>{{ name }}</b></h1>
				<h2><b>{{ address }}</b></h2>
			</div>
			<div id=middle>
				<div id="middle_left">
					<br>
		    		<div id="map_canvas"></div>
				</div>
				<div id="middle_right">
					<h2><img src= {{ picture }} alt="some_text" width="365px" height="250px"></h2>
				</div>
			</div>
			<div id=bottom>
				<h3><a id="refresh" href="javascript:history.go(0)">START OVER?</a></h3>
			</div>
		</div>
	</body>
</html>