{% extends "base.html" %}
{% block content %}
    	<style type="text/css">
      		#map_canvas { 
      		width: 365px;
      		height: 250px;
      		}
    	</style>
	    <script type="text/javascript"
    	  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAKQl6A_LiqvYN_f78-oqfaRURGuvhOj0&sensor=true">
    	</script>
    	<script type="text/javascript">
      		function initialize() {
        		var mapOptions = {
          		center: new google.maps.LatLng({{latitude }},{{ longitude }}),
          		zoom: 15,
          		mapTypeId: google.maps.MapTypeId.ROADMAP
        		};
        		var map = new google.maps.Map(document.getElementById("map_canvas"),
            	mapOptions);
      			}
   		</script>
    	</head>
    <body onload="initialize()">	
		<div id="page2_body">
			<div id="top"> 
				<h3> HOMIE, YOU WANNA TRY...<br><br>{{ name }}</h3><br>
				<h4><b>{{ address }}</b></h4>
			</div>
			<div id=middle>
				<div id="middle_left">
		    		<div id="map_canvas">
		    		</div>
				</div>
				<div id="middle_right">
					<img src= {{ picture }} alt="some_text" width="365px" height="250px">
				</div>
			</div>
				<h5><a id="refresh" href="javascript:history.go(0)" class="transition">START OVER?</a></h5>
			</div>
		</div>
	</body>
{% endblock %}